@charset "UTF-8";
/*common*/
*{margin: 0; padding: 0;}
body{font-family: sans-serif;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
.skip{font-size: 0;text-indent: -99999px;position: absolute;left: -99999px;}
header .m-nav{display: none;}
img{max-width: 100%;}
/*header*/
header{position: fixed; width: 100%; z-index: 1000;}
header h1{padding:10px; background: #fff;}
header > a:nth-of-type(1){
  position: absolute;
  right: 157px;
  top: 22px;
  color: #214a76;
}
header > a:nth-of-type(1):hover{color: #d7ad17; transition: all 0.5s;}
header > a:nth-of-type(2):hover{color: #d7671e; transition: all 0.5s;}
header > a:nth-of-type(2){
  position: absolute;
  right: 60px;
  top: 22px;
  color: #214a76;
}

header nav ul{ overflow: hidden; text-align: center; z-index: 10;}
header nav > ul > li{
  float: left; width: 12.5%; font-size: 13px; box-sizing: border-box;
}
header nav > ul > li > a::after{
position: relative; bottom: -9px; content: ''; display: block; width: 0; height: 2px; background:#bdccea; transition: all 0.5s ease-in-out;

}
header nav > ul > li > a:hover{color:#bdccea; transition: all 0.5s; }
header nav > ul > li:hover > a::after{width: 100%;}
header nav > ul > li > a{
  padding: 10px; display: block; font-size: 13px; background: #214a76; color:#fff;

  }
header nav ul li > ul{height: 280px; background: #f0eef5;
  display: none;
}
/* header nav ul li:nth-of-type(2) > ul{height: inherit; height: 280px;}
header nav ul li:nth-of-type(3) > ul{height: inherit; height: 280px;}
header nav ul li:nth-of-type(4) > ul{height: inherit; height: 280px;}
header nav ul li:nth-of-type(5) > ul{height: inherit; height: 280px;}
header nav ul li:nth-of-type(6) > ul{height: inherit; height: 280px;} */
header nav ul li > ul li a{padding: 10px; display: block; color: #484444; font-size: 12px;

}
header nav ul li > ul li:hover a{color:red; transition: all 0.5s;}
header .scroll-nav{
position: fixed;
z-index: 10;
top: 50%;
right: -110px;
transform: rotate(90deg);
}
header .scroll-nav div{width: 70px; height: 23px; margin-bottom: 3px; display: inline-block;
border-left:2px solid #214a76; border-right: 2px solid #214a76; text-align: center; background: #214a76;
}
header .scroll-nav div a{color: #fff; font-size: 14px;}

.on{background: #0464b4 !important; border-left: 1px solid #0464b4 !important;  border-right: 1px solid #0464b4 !important; }
/* header end========================================================================================= */

/* section====================================================================================== */
article.main-ad{
  overflow: hidden;
  position: relative;
  width: 100%;
  /* height: 950px; */
  height: 100vh;
  /* background-image: url(../images/g-tower1.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 78px
}
.main-ad .box{position: absolute; position: absolute; top: 34%; left: 5%;}
.main-ad h2{color: #fff; text-shadow: 1px 1px 22px #fff; font-size: 35px; padding-bottom: 30px;}
.main-ad h2 span{color:  #dde7f8;}
.main-ad h3{color: #fff; text-shadow: 1px 1px 16px #fff; font-size: 23px;}
/* main-ad end===================================================================================  */
.our-business{
position: relative;
height: 750px;
padding-top: 185px;
}
.our-business .box1{
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
  }
.our-business .box1 h1{
  text-align: center;
    font-size: 30px;
    margin-bottom: 26px;
    color: #214a76;
}
.our-business .box1 h3{color: #214a76;}
.our-business .box1 h1::after{
  content: '';
  display: block;
  width: 94px;
  height: 3px;
  background: #214a76;
  margin: auto;
  margin-top: 10px;
}
.our-business .swiper-container{
  width: 1000px;
  height: 600px;
  border: 10px solid #214a76;
  border-radius: 20px;
}
.our-business .swiper-slide button{
    position: absolute;
    z-index: 101;
    top: 48px;
    left: 16px;
    background: red;
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    background: #152359;
  }
.our-business .swiper-slide button:nth-of-type(2){
  left: 144px;
  background: #3775a9;
}
.our-business .swiper-slide:nth-of-type(3) button,.our-business .swiper-slide:nth-of-type(4) button{
  left: 71%;
}
.our-business .swiper-slide:nth-of-type(3) button:nth-of-type(2),.our-business .swiper-slide:nth-of-type(4) button:nth-of-type(2){
  left: 83%;
}
.our-business .swiper-slide button:nth-of-type(1):hover{box-sizing: border-box; background:#3775a9; transition: all 0.5s; transform: scale(1.2);}
.our-business .swiper-slide button:nth-of-type(2):hover{box-sizing: border-box; background: #152359;  transition: all 0.5s; transform: scale(1.2);}
.m-business{display: none;}
/* our-business end================================================================================== */
.pr-movie{
  position: relative;
  text-align: center;
  height: 750px;
  background: #222329;
  padding-top: 185px;
}
.pr-movie .box2{
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}
.pr-movie .box2 h1{color: #fff; font-size: 30px; margin-bottom: 22px;}
.pr-movie .box2 h1::after{
  content: '';
  display: block;
  width: 94px;
  height: 3px;
  background: #fff;
  margin: auto;
  margin-top: 10px;
}
.pr-movie .box2 h3{color: #fff;}
.pr-movie .pr-movie1{}
.pr-movie .pr-movie1 iframe{ width: 1000px;
    height: 430px;
}
.pr-movie .text-box{
    width: 1000px;
    height: 150px;
    overflow-y: auto;
    color: #fff;
    font-size: 14px;
    border: 1px solid #544c4c;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
  }
  /*pr-movie end====================================================================================*/
  .recruit{
    position: relative;
    padding-top: 185px;
    background: #e69b21;
    height: 750px;
  }
  .recruit .box2{
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
}
  .recruit .box2 h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 22px;
  }
  .recruit .box2 h1::after{
    content: '';
    display: block;
    width: 94px;
    height: 3px;
    background: #000;
    margin: auto;
    margin-top: 10px;
  }
  .recruit .recruit-move{ text-align: center;}
  .recruit .recruit-info{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
  }
  .recruit .recruit-info h2{
  text-align: center;
  padding-bottom: 20px;}
  .recruit .recruit-info h2 i{
    padding-right: 10px;
    vertical-align: middle;
  }
  .recruit .recruit-info ul{
    overflow: hidden; border: 1px solid #000;
    width: 630px; height: 125px;
  }
  .recruit .recruit-info ul li{padding: 10px; }
  .recruit .recruit-info ul li a:hover{
    color: #cd1e11; transition: all 0.5s;
  }
  .recruit button{border: 0;
    background: #000;
    color: #fff;
    width: 220px;
    height: 50px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14%;
  }
  .recruit button:hover{
    background:#252626;
    color: #fff;
    transition: all 0.5s;

  }
  /* recruit end========================================================================== */

  footer{position: relative; height: 85px; padding-top: 35px;}
  footer > a{
    position: absolute;
    left: 40px;
    transform: translateY(-50%);
    top: 50%;
  }
  footer > p{
    text-align: center;
  }
  footer > ul{
    text-align: center;
  }
  footer > ul > li{
    display: inline-block;
    font-size: 14px;
  }

  footer .family-site{}
  footer .family-site p{
    position: absolute;
    right: 23px;
    top: 34px;
    border: 1px solid;
    background: #fff;
    width: 140px;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 14px;
  }
  footer .family-site p i{
    position: absolute;
    right: 6px;
    top: 2px
  }
  footer .family-site ul{
    position: absolute;
    top: -186px;
    right: 23px;
    display: none;
    width: 139.75px;
    height: 220px;
  }

  footer .family-site ul li{
    border: 1px solid;
    border-bottom: 0;
    background: #fff;
    /* font-size: 14px; */
  }
  footer .family-site ul li a{font-size: 14px; padding-left: 5px;}

  footer small{text-align: center; display: block;}


  /* 미디어쿼리========================================================================================= */
  /* 미디어쿼리========================================================================================= */
  /* 미디어쿼리========================================================================================= */
  @media (max-width:768px) {
    /*header*/
    header{position: fixed; width: 100%; z-index: 1000; display: block;}
    header h1{padding:10px; background: #fff;}
    header > a:nth-of-type(1){display: none;}
    header > a:nth-of-type(2){display: none;}
    header .m-nav{display: inherit; position: absolute; top: 8px; right: 30px; font-size: 2em; color: #214a76;}
    header nav ul{ text-align: center; z-index: 10; display: none;}
    header nav > ul > li{
      float: inherit;  width: inherit; font-size: 13px; box-sizing: border-box;

    }
    header nav > ul > li > a::after{display: none;}
    header nav > ul > li > a:hover{color:#bdccea; transition: all 0.5s; }
    header nav > ul > li > a{
      padding: 10px; display: block; font-size: 13px; background: #214a76; color:#fff;

      }
    header nav ul li > ul{height: auto; background: #f0eef5;
      display: none;
      overflow: inherit;
    }
    /* header nav ul li ul{height: auto;}
    header nav ul li:nth-of-type(3) > ul{height: auto;}
    header nav ul li:nth-of-type(4) > ul{height: 255px;}
    header nav ul li:nth-of-type(5) > ul{height: 40px;}
    header nav ul li:nth-of-type(6) > ul{height: 111px;} */
    header nav ul li > ul li a{padding: 10px; display: block; color: #484444; font-size: 12px;

    }
    header nav ul li > ul li:hover a{color:red; transition: all 0.5s;}
    header .scroll-nav{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: -110px;
    transform: rotate(90deg);
    display: none;
    }
    header .scroll-nav div{width: 70px; height: 23px; margin-bottom: 3px; display: inline-block;
    border-left:2px solid #214a76; border-right: 2px solid #214a76; text-align: center; background: #214a76;
    }
    header .scroll-nav div a{color: #fff; font-size: 14px;}

    .on{background: #0464b4 !important; border-left: 1px solid #0464b4 !important;  border-right: 1px solid #0464b4 !important; }
    /* header end========================================================================================= */

    /* section====================================================================================== */
    article.main-ad{height: 670px;}
    .main-ad .box{top: 39%; left: 5%;}
    .main-ad h2{font-size: 23px; padding-bottom: 14px;}
    .main-ad h3{ font-size: 17px;}
    /* main-ad end===================================================================================  */
    .our-business{
    position: relative;
    height: 670px;
    padding-top: inherit;
    }
    .our-business .box1{
        position: absolute;
        top: 46px;
        left: 50%;
        transform: translateX(-50%);
      }
    .our-business .box1 h1{
      text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
        color: #214a76;
    }
    .our-business .box1 h3{color: #214a76; font-size: 15px; font-weight: bold}
    .our-business .box1 h1::after{
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      background: #214a76;
      margin:auto;
      margin-top: 10px;
    }
    .our-business .swiper-container{
      display: none;
      width: 1000px;
      height: 600px;
      border: 10px solid #214a76;
      border-radius: 20px;
    }
    .our-business .swiper-slide button{
        position: absolute;
        z-index: 101;
        top: 48px;
        left: 16px;
        background: red;
        border: 0;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        line-height: 30px;
        background: #152359;
      }
    .our-business .swiper-slide button:nth-of-type(2){
      left: 144px;
      background: #3775a9;
    }
    .our-business .swiper-slide:nth-of-type(3) button,.our-business .swiper-slide:nth-of-type(4) button{
      left: 71%;
    }
    .our-business .swiper-slide:nth-of-type(3) button:nth-of-type(2),.our-business .swiper-slide:nth-of-type(4) button:nth-of-type(2){
      left: 83%;
    }
    .our-business .swiper-slide button:nth-of-type(1):hover{box-sizing: border-box; background:#3775a9; transition: all 0.5s; transform: scale(1.2);}
    .our-business .swiper-slide button:nth-of-type(2):hover{box-sizing: border-box; background: #152359;  transition: all 0.5s; transform: scale(1.2);}

    /* our-business end================================================================================== */
    .pr-movie{
      position: relative;
      text-align: center;
      height: 670px;
      background: #222329;
      padding-top: inherit;
    }
    .pr-movie .box2{top: 37px;}
    .pr-movie .box2 h1{font-size: 25px; margin-bottom: 20px;}
    .pr-movie .box2 h1::after{
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      background: #fff;
      margin: auto;
      margin-top: 10px;
    }
    .pr-movie .box2 h3{font-size: 15px;}
    .pr-movie .pr-movie1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .pr-movie .pr-movie1 iframe{width: 300px; height: 350px;}
    .pr-movie .text-box{width: 300px; height: 114px; top: 77%;}
    .m-business{
      display: inherit;
      position: absolute;
      top: 56%;
      transform: translateY(-50%);
    }
    .m-business ul li{float: left; width: 25%;}
    .m-business button{
      width: 100%;
      background: red;
      padding: 5px;
      color: #fff;
    }
    .m-business ul li button:nth-of-type(1){background:#3775a9;}
    .m-business ul li button:nth-of-type(2){background: #152359;}
      /*pr-movie end====================================================================================*/
      .recruit{padding-top: inherit;height: 670px;}
      .recruit .box2{top: 11px;}
      .recruit .box2 h1{  font-size: 25px;  margin-bottom: 13px;}
      .recruit .box2 h1::after{
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background: #000;
        margin: auto;
        margin-top: 10px;
      }
      .recruit .box2 h3{font-size: 15px;}
      .recruit .recruit-move{
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .recruit .recruit-move iframe{width: 300px; height: 300px;}
      .recruit .recruit-info{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);}

      .recruit .recruit-info ul{
        overflow: hidden; border: 1px solid #000;
        width: 366px;
        height: 113px;
      }
      .recruit .recruit-info ul li{padding: 10px; }
      .recruit .recruit-info ul li a:hover{
        color: #cd1e11; transition: all 0.5s;
      }
      .recruit .recruit-info h2 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 20px;
      }
      .recruit button{
        display: none;}

      /* recruit end========================================================================== */


      footer > a{top: 40%;}
      footer > p{margin-top: 40px; font-size: 13px;}
      footer small{text-align: center; display: block; font-size: 12px;}
  }
  @media (min-width:769px) and (max-width:1200px) {
    /* section====================================================================================== */
    .our-business {height: 610px; padding-top: 274px;}
    .our-business .box1 {top: 90px;}
    .our-business .swiper-container{
      width: 700px;
      height: 420px;
      border: 7px solid #214a76;
      border-radius: 15px;}
    .our-business .swiper-slide:nth-of-type(3) button,.our-business .swiper-slide:nth-of-type(4) button{left: 66%;}
    /* our-business end================================================================================== */
    .pr-movie{height: 610px; padding-top: 274px;}
    .pr-movie .box2{top: 75px;}
    .pr-movie .pr-movie1{
     position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;}
    .pr-movie .pr-movie1 iframe{width: 700px; height: 420px;}
    .pr-movie .text-box{width: 700px;}
      /*pr-movie end====================================================================================*/
      .recruit{height: 610px; padding-top: 274px;}
      .recruit .box2{width: 500px;}
      .recruit .box2 h1::after{margin: 14px 0 0 204px;}
      .recruit .recruit-move{position: absolute; left: 50%; transform: translateX(-50%); top: 22%;}
      .recruit .recruit-info{top: 63%;}
      .recruit .recruit-info h2{
      text-align: center;
      padding-bottom: 20px;}
      .recruit button{bottom: 8%;}
      /* recruit end========================================================================== */
